
sk_cpp_windows/.vs/

sk_cpp_windows/enc_temp_folder/

sk_cpp_windows/x64/

sk_cpp_windows/sk_cpp_windows/

sk_cpp_windows/packages/

demos/windows/packages/

demos/windows/.vs/

demos/windows/x64/

demos/windows/sk_cpp_windows/

*.xcuserstate

demos/macos/sk_cpp.xcodeproj/xcuserdata/splitterai.xcuserdatad/xcdebugger/
libs/windows/ultralight_1.3/

libs/windows/wil/
